// base

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $gray-900;
  backgroung-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: $blue;
  text-decoration: none;
  
  &:hover,
  &:focus {
    color: darken($blue, 10%);
    text-decoration: underline;
  }
}

//
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.25;
  font-weight: 700;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: $spacer;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: $spacer;
  padding-top: $spacer;
  padding-bottom: $spacer;
}

blockquote {
  margin-left: $spacer-2;
  margin-right: 0;
  margin-bottom: $spacer;
  padding-top: $spacer;
  padding-bottom: $spacer;
  color: $gray-700;
}

cite {
  font-style: normal;
}

ul,
ol {
  margin-left: 0;
  margin-bottom: $spacer;
}

hr {
  margin-top: $spacer;
  margin-bottom: $spacer;
  color: $gray-900;
}

table {
  margin-bottom: $spacer;
  width: 100%;
  border: 0 solid $gray-900;
  border-collapse: collapse;
}

td,
th {
  padding: .5rem;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
}

th {
  text-align: left;
}

thead th {
  border-bottom-color: currentColor;
}

//
.container {
  max-width: 40rem;
  padding-left: $spacer-2;
  padding-right: $spacer-2;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: $spacer;
  padding-bottom: $spacer;
  margin-bottom: $spacer-2;
  border-bottom: 1px solid $gray-300;
}

.footer {
  padding-top: $spacer;
  padding-bottom: $spacer;
  margin-top: $spacer-3;
  margin-bottom: $spacer-3;
  border-top: 1px solid $gray-300;
}

.post-list {
  display: block;
}

.post-list-item {
  padding-bottom: $spacer;
  font-size: normal;
}


