// base

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $gray-900;
  backgroung-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: $blue;
  text-decoration: none;
  
  &:hover,
  &:focus {
    color: darken($blue, 10%);
    text-decoration: underline;
  }
}

//
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.25;
  font-weight: 600;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: $spacer;
}

//
.container {
  max-width: 40rem;
  padding-left: $spacer;
  padding-right: $spacer;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: $spacer;
  padding-bottom: $spacer;
  margin-bottom: $spacer-2;
  border-bottom: 1px solid $gray-300;
}

.footer {
  padding-top: $spacer;
  padding-bottom: $spacer;
  margin-top: $spacer-3;
  margin-bottom: $spacer-3;
  border-top: 1px solid $gray-300;
}
