// Webfonts
//
// Declaring font-face rules

@font-face {
  font-family: "xcharter";
  src: url("/blog/assets/xcharter-roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "xcharter";
  src: url("/blog/assets/xcharter-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "xcharter";
  src: url("/blog/assets/xcharter-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "xcharter";
  src: url("/blog/assets/xcharter-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
	
	
